# Database configuration
MONGODB_URI=
MONGODB_DB=SupersetPlacement

# Admin authentication
ADMIN_PASS=

# Frontend public options (optional)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
