# Database configuration
MONGO_CONNECTION_STR=

# Telegram Bot configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Groq API key (for notice formatting)
GROQ_API_KEY="your_groq_api_key"

# Scraper / Department Credentials
CSE_EMAIL=your_cse_email
CSE_ENCRYPTION_PASSWORD=your_cse_password
ECE_EMAIL=your_ece_email
ECE_ENCRYPTION_PASSWORD=your_ece_password

# Placement stats / Email config
PLCAMENT_EMAIL=
PLCAMENT_APP_PASSWORD=
